body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: #121212;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #242424 !important;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a:hover {
  background-color: #555;
  color: white;
}

.logo{
    width: 130px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 100%;
  padding: 1.2rem 0rem !important;
}

.community-banner{
    background: url('img/community-bg.png');
    background-size: cover;
    height: 215px;
    color: #fff;
    text-align: center;
    padding: 45px;
}

.comm-head{
    font-size: 2.5rem;
    margin-top: .5rem !important;
    margin-bottom: 1rem !important;
    line-height: 60px;
}


.comm-para{
    font-size: 1.25rem;
    font-weight: 300;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}




